<h1>My bookings</h1>
<ul>
  <% @user.bookings.each do |booking| %>
    <h5><%= link_to booking.plug.address, plug_path(booking.plug) %></h5>
    <p><%= "From #{booking.start_time} to #{booking.end_time}" %></p>
  <% end %>
</ul>
