.navbar_start {
  justify-content: space-between;
  // background: white; background-color: transparent;
  background-color: transparent;
  transition: 1s background-color ease;
  height: 70px;
}

.navbar_start .navbar-collapse {
  flex-grow: 0;
}

.navbar_start .navbar-brand img {
  height: 50px;
}

.navbar_start-white {
  background-color: white;
  color: black;
}
